.footer {
  position: relative;
  z-index: 1000;
  padding: 0px;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: whitesmoke;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.footer-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.logo {
  height: 2rem; 
}

.copyright {
  color: #666;
  font-size: 0.7rem;
  text-align: center;
}

.copyright p {
  margin: 0;
}
